node_modules

# Local Netlify folder
.netlify

# Environment variables (contain secrets)
.env
.env.local
.env*.local

*storybook.log
storybook-static
notification_catalog/site/.astro/

# Local vitest helper artifacts
.vitest-unit.*


.DS_Store
